html {
  background-color: white;
  background-image: url(https://plus.unsplash.com/premium_photo-1683129637833-a3680041faf0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTIxfHxhcmNoaXRlY3R1cmUlMjBkcmF3aW5nfGVufDB8fDB8fHww);
  background-size: cover;
}

header {
  background-image: url(https://images.unsplash.com/photo-1520531158340-44015069e78e?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  height: 25vh;
  opacity: 75%;
  /* font-family: cursive; */
}

h1 {
  text-align: center;
}

header > h1 {
  text-align: right;
  position: relative;
  top: 100px;
  margin-bottom: 0;
}

body > h1 {
  text-align: center;
}

nav > ul > li {
  padding: 0.5rem;
  list-style-type: none;
}

main > h1 {
  font-family: fantasy;
  font-size: xx-large;
}

main > h3 {
  text-align: center;
  position: relative;
  top: 10px;
}

main > p {
  text-align: center;
  position: relative;
  top: 10px;
}

#footer {
  position: absolute;
}

#footerLinks {
  position: relative;
  bottom: 35px;
  left: 800px;
}

.linksFooter {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: orange;
  border-radius: 15px;
}

.button {
  background-color: orange;
  border-radius: 15px;
}

.contact {
  font-family: monospace;
}

form {
  /* border: solid 1px black; */
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

form > * {
  margin: 0.5rem;
}

form > input[type="submit"] {
  width: 40%;
  margin: 0.5rem;
  margin-right: auto;
}

#emailForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Info {
  padding: 10%;
  border: 5px black solid;
  text-align: center;
  border-radius: 10px;
  margin: 100px;
  background-color: orangered;
  font-size: medium;
}

img {
  width: 50%;
}

.Materials {
  display: flex;
  align-items: center;
}

.Architects {
  position: relative;
  left: 25%;
  max-width: 80%;
  max-height: 50%;
  border: 5px black solid;
}

.architectOne {
  max-height: 50%;
}

.home {
  position: relative;
  left: 25%;
  max-width: 50%;
}

#homeModel {
  position: relative;
  left: 25%;
  max-width: 50%;
}

#estimate {
  display: flex;
  justify-self: center;
  position: absolute;
  width: 300px;
  max-height: 250px;
  margin: 10px;
}

#submit {
  display: flex;
  justify-content: center;
}

#build {
  background-color: orangered;
  border-color: black;
}

/* The following code below was referenced on https://www.w3schools.com/howto/howto_js_collapsible.asp & https://www.w3schools.com/howto/howto_css_flip_image.asp */

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  display: flex;
  justify-self: center;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /*Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: orangered;
  color: black;
  transform: rotateY(180deg);
}

.card {
  /* Add shadows to create the "card" effect */
  margin: 15px;
  background-color: orangered;
  box-shadow: 0 4px 8px 0 black;
  transition: 0.3s;
  width: 40%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  text-align: center;
  padding: 20px 15px;
  margin: 5px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  position: relative;
  left: 25%;
  padding: 15%;
  border: 5px black solid;
  text-align: center;
  border-radius: 0%;
  margin: 50px;
  background-color: orangered;
  font-size: x-large;
  cursor: pointer;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: orangered;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 15%;
  border: 5px black solid;
  margin: 50px;
  display: none;
  overflow: hidden;
  background-color: orange;
}

* {
  box-sizing: border-box;
}

/* Create three columns of equal width */
/* .columns {
  float: left;
  width: 33.3%;
  padding: 8px;
} */

/* style the list */
/* .price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
} */

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

/* Pricing header */
/* .header {
  background-color: #111;
  color: white;
  font-size: 25px;
} */

/* List items */
.price li {
  /* border-bottom: 1px solid #eee; */
  text-align: center;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

@media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none;
  }

  #Flex-container {
    flex-direction: column;
  }
}

@media (min-width: 550px) and (max-width: 1024px) {
}
