header {
  background-image: url(https://plus.unsplash.com/premium_photo-1683129637833-a3680041faf0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTIxfHxhcmNoaXRlY3R1cmUlMjBkcmF3aW5nfGVufDB8fDB8fHww);
  background-size: cover;
  height: 20vh;
}

h1 {
  text-align: center;
}

header > h1 {
  text-align: right;
  position: relative;
  top: 135px;
}

body > h1 {
  text-align: center;
}

main > h3 {
  text-align: center;
  position: relative;
  top: 10px;
}

main > p {
  text-align: center;
  position: relative;
  top: 10px;
}

nav > ul {
  position: relative;
  bottom: 10px;
}

footer {
  position: fixed;
  bottom: 10px;
}

h2 {
  text-align: center;
}

.inknut-antiqua-black {
  font-family: "Inknut Antiqua", serif;
  font-weight: 900;
  font-style: normal;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

nav > ul > li {
  padding: .5rem;
  list-style-type: none;
}

@media (max-width: 768px){
  }
