html {
  background-color: rgb(219, 139, 34);
}

header {
  background-image: url(https://plus.unsplash.com/premium_photo-1683129637833-a3680041faf0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTIxfHxhcmNoaXRlY3R1cmUlMjBkcmF3aW5nfGVufDB8fDB8fHww);
  background-size: cover;
  height: 25vh;
  opacity: 75%;
}

h1 {
  text-align: center;
}

header > h1 {
  text-align: right;
  position: relative;
  top: 100px;
  margin-bottom: 0;
}

body > h1 {
  text-align: center;
}

nav > ul > li {
  padding: 0.5rem;
  list-style-type: none;
}

main > h3 {
  text-align: center;
  position: relative;
  top: 10px;
}

main > p {
  text-align: center;
  position: relative;
  top: 10px;
}

#footer {
  position: fixed;
  bottom: 10px;
}

#footerLinks {
  position: relative;
  bottom: 35px;
  left: 800px;
}

.linksFooter {
  display: flex;
  justify-content: space-between;
}

form {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  background-color: rgb(222, 93, 39);
}

form > * {
  margin: 0.5rem;
}

form > input[type="submit"] {
  width: 40%;
  margin: 0.5rem;
  margin-right: auto;
}

#emailForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inknut-antiqua-black {
  font-family: "Inknut Antiqua", serif;
  font-weight: 900;
  font-style: normal;
}

#Flex-container {
  display: flex;
  flex-direction: column;
}

.Info {
  padding: 10%;
  border: 5px black solid;
  text-align: center;
  border-radius: 10px;
  margin: 100px;
  background-color: rgb(222, 93, 39);
  font-size: medium;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
}

img {
  position: relative;
  left: 35%;
  max-width: 25%;
  height: auto;
}

.Materials {
  display: flex;
  align-items: center;
}

.Architects {
  position: relative;
  top: 15px;
  left: 100px;
  max-width: 80%;
}

.home {
  position: relative;
  left: 25%;
  max-width: 50%;
}

#homeModel {
  position: relative;
  left: 25%;
  max-width: 50%;
}

#estimate {
  position: relative;
  left: 175px;
  max-width: 90%;
  margin: 10px;
}

#submit {
  display: flex;
  justify-content: center;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  position: relative;
  left: 25%;
  padding: 15%;
  border: 5px black solid;
  text-align: center;
  border-radius: 10px;
  margin: 50px;
  background-color: rgb(222, 93, 39);
  font-size: x-large;
  cursor: pointer;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: orangered;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 15%;
  border: 5px black solid;
  margin: 50px;
  display: none;
  overflow: hidden;
  background-color: orange;
}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none;
  }

  #Flex-container {
    flex-direction: column;
  }
}

@media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
}

@media (min-width: 550px) and (max-width: 1024px) {
}
